@charset "utf-8";


html, body, p { 
    margin: 0; 
    padding: 0; 
    
    
}

@font-face {font-family: "TradeGothicW01-BoldCn20";
    src: url("http://db.onlinewebfonts.com/t/a3940925813f3eb4e86348877cb7bcae.eot");
    src: url("http://db.onlinewebfonts.com/t/a3940925813f3eb4e86348877cb7bcae.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/a3940925813f3eb4e86348877cb7bcae.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/a3940925813f3eb4e86348877cb7bcae.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/a3940925813f3eb4e86348877cb7bcae.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/a3940925813f3eb4e86348877cb7bcae.svg#TradeGothicW01-BoldCn20") format("svg");
}

@font-face {font-family: "Karla";
    src: url("http://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot");
    src: url("http://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.svg#Karla") format("svg");
}


@font-face {
font-family: lombok;
src: url(‘Lombok.otf’);
}


.row:before,.row:after {content:""; clear: both; display: block;}

.bg_container video {
        width: 100%;
        height: 100%;
        position: relative;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        
        
    }

.black {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
    z-index: 10;
    overflow: hidden;
}





@media screen and (max-width: 480px) {
    .colm_1 {width: calc(18.72%);}
    .colm_2 {width: calc(39.04%);}
    .colm_3 {width: calc(59.36%);}
    .colm_4 {width: calc(79.68%);}
    .colm_5 {width: calc(100%);}
    
    [class*="colm_"]:first-child {margin-left: 0;}
    [class*="colm_"]:last-child {margin-right: 0;}

    [class*="colm_"] {float:left;}
    
    
    
}

    
@media screen and (min-width: 480px) and (max-width: 990px) {
    
    .colt_1 {width: calc(11.1%);}
    .colt_2 {width: calc(23.8%);}
    .colt_3 {width: calc(36.5%);}
    .colt_4 {width: calc(49.2%);}
    .colt_5 {width: calc(61.9%);}
    .colt_6 {width: calc(74.6%);}
    .colt_7 {width: calc(87.3%);}
    .colt_8 {width: calc(100%);}

    
    [class*="colt_"]:first-child {margin-left: 0;}
    [class*="colt_"]:last-child {margin-right: 0;}

    [class*="colt_"] {float:left;}
    
    
    
}

@media screen and (min-width: 991px) {
    
    .col_1 {width: 8.33%;}
    .col_2 {width: 16.66%;}
    .col_3 {width: 25%;}
    .col_4 {width: 33.33%;}
    .col_5 {width: 41.66%;}
    .col_6 {width: 50%;}
    .col_7 {width: 58.33%;}
    .col_8 {width: 66.66%;}
    .col_9 {width: 75%;}
    .col_10 {width: 83.33%;}
    .col_11 {width: 91.66%;}
    .col_12 {width: 100%;}
    
    [class*="col_"]:first-child {margin-left: 0;}
    [class*="col_"]:last-child {margin-right: 0;}

    [class*="col_"] {float:left;}
    
    .titles {
        position: fixed;
        width: 15%;
        left: 0;
        margin-left: 42%;
        top: 30%;
        z-index: 12;
    }
    
    .entrar {
        position: fixed;
        font-family: Karla;
        font-size: 2vw;
        left: 0;
        text-align: center;
        color:white;
        top: 70%;
        z-index: 12;
        text-decoration: inherit;
        
    }
    
    .barracin {
        background-color: #222;
        position: fixed;
        z-index: 50;
        
    }
    
    
    .ismtlogo {
        width: 5.8%;;
        padding-left: 4%;
    }
    
    .noismt {
        font-family: Karla;
        color: white;
        font-size: 0.8vw;
        margin-left: 5%;
        margin-top: 15%;
        
    }
    
    .multitext {
        font-family: Karla;
        color: white;
        font-size: 1vw;
        margin-left: 50%;
        
    }
    
    .esquerda1 {
        margin-top: 6%;
    }
    
    .lismenu {
        list-style-type: none;
        font-family: Karla;
        color: white;
        font-size: 1vw;
        padding-top: 1.5%;
        text-align:  right;
        margin-right: 20%;
    }
    
    .lismenu li {
        display: inline;
        padding-left: 10%;
    }
    
    
    .biaback {
        background-image: url("imagens/desktoptablete.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        
    }
    
    
    .as1 {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 5.5vw;
        background-color: #222;
        color: #fff;
        text-align: center;
        margin-top: 7%;
        
    }
    
    .as2 {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 5.5vw;
        background-color: rgb(254,206,168);
        color: #222;
        margin-top: 1%;
        padding-left: 2%;
        text-align: center;
        
        
    }
    
    .pontosu {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 5.5vw;
        background-color: rgb(255,132,124);
        color: #222;
        text-align: center;
        margin-top: 1%;
        margin-left: 6.37%;
        
    }
    
    .pontosum {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 5.5vw;
        background-color: rgb(232,74,95);
        color: #222;
        text-align: center;
        margin-top: 1%;
        display: inline;
        
    }
    
    
    .botaobranco {
        align-items: center;
        margin-left: 15%;
        margin-top: 20%;
        border-radius: 100%;
        width: 250px;
        height: 250px;
        background: linear-gradient(142.73deg,rgba(254,206,168,.95) 0,rgba(232,74,95,.95) 80%);
    }
    
    .provedorbotao {
        font-family: Karla;
        font-size: 1.6vw;
        color: white;
        padding-top: 38%;
        padding-bottom: 38%;
        text-align: center;
    }
    
    .divedabia {
        margin-top: 10%;
        background-color: #222;
        height: 200px;
        float: right;
        padding-bottom: 5%;
    }
    
    .classdabia {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 6.5vw;
        color: white;
        margin-left: 3%;
        margin-top: 2%;
    }
    
    .clasdaclas {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 2vw;
        color: white;
        margin-left: 3%;
        
        
    }
    
    .primeirasection {
        background-color: #222;
    }
    
    .divedabiadois {
        background-color: #222;
        height: 100px;
        float: right;
        padding-top: 1%;
    }
    
    .clasdaclasdois {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 1.5vw;
        color: white;
        margin-left: 3%;
        
    }
    
    .maisobre {
        font-family: TradeGothicW01-BoldCn20;
        text-decoration-line: white;
        font-size: 1.5vw;
        color: white;
        float: right;
        margin-right: 3%;
        text-align: right;
        
    }
    
    
    
    .retangulorosa {
        background-color: rgb(232,74,95); 
        height: 30px;
        width: 220px;
        position: absolute;
        right: 0;
        margin-right: 34.7%;
    }
    
    .conheceme {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 1vw;
        text-align: center;
        padding-top: 2%;
        
    }
    
    .imagens {
        padding-top: 6%;
        text-align: right;
        padding-left: 30%;
        padding-bottom: 3%;
    }

    .aquelafixa { 
        border: 4px solid #fff;
        width: 640px;
        height: 360px;
        
}

    .aqueroda img {
        border: solid 1px #fff;
        width: auto;
        height: 10px;
        opacity:0.5;
}

    .aqueroda img:hover {
	   border-color: rgb(232,74,95);
       opacity:0.5;
}
    
    .right {
        color: rgb(232,74,95);
        position: absolute;
        right: 45%;
        margin-top: -17px;
    }
    
    .left {
        color: rgb(255,132,124);
        position: absolute;
        right: 47%;
        margin-top: -20px;
        
    }
    
    .sbrbia {
        position: absolute;
        width: 40%;
        padding-top: 6%;
        padding-left: 4%;
    }
    
    .whoami {
        font-family: Karla;
        font-size: 6vw;
        color: #222;
        background-color: rgb(232,74,95);
    }
    
    .porvezes {
        padding: 3%;
        text-align: justify;
        margin-top: 5%;
        font-family: TradeGothicW01-BoldCn20;
        font-size: 1.5vw;
        color: #222;
        background-color: rgb(254,206,168);
        line-height: 1.5;
    }
    
    .gostode {
        padding: 3%;
        text-align: justify;
        margin-top: 5%;
        font-family: TradeGothicW01-BoldCn20;
        font-size: 1.5vw;
        background-color: rgb(255,132,124);
        color: #222;
    }
    
    .espero {
        font-family: Karla;
        font-size: 1.5vw;
        color: white;
        text-align: justify;
        padding: 4%;
        margin-top: 1%;
    }
    
    .ultimacinza {
        background-color: #222;
        height: 50px;
        position: absolute;
        
    }
    
    .ultimacinzaa {
        background-color: #222;
        height: 130px;
        position: absolute;
        
    }
    
    .movismt {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 4vw;
        margin: 5%;
        margin-top: 10%;
        margin-left: 25%;
        background: 
            -webkit-linear-gradient(239.73deg,rgb(14, 88, 80) 0,rgb(232,74,95) 136%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
    
    .titulosprovedora {
        position: absolute;
        right: 0;
        margin-top:10%;
    }
    
    .aoprovedor {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 6vw;
        color: rgb(26, 94, 86);
        text-align: right;
        margin-right: 5%;
        text-shadow:#fff 1px -1px 2px, #fff -1px 1px 2px, #fff 1px 1px 2px, #fff -1px -1px 2px;
    }
    
    .aomini {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 1vw;
        color: white; 
        text-align: right;
        margin-right: 5%;
    }
    
    
    .cubo{
        width: 50px;
        height: 50px;
        background: linear-gradient(182.73deg,rgb(255, 255, 255) 0,rgb(14, 88, 80) 70%);
        position: absolute;
        z-index: 70;
        left:15%;
        border-radius: 50%;
        cursor: pointer;
    }
    
    #quadrados1{
        margin-top: 10%;
    }
    
    #quadrados2{
        margin-left:5%;
        margin-top: 15%;
   
    }
    
    #quadrados3{
        margin-left: 10%;
        margin-top: 20%;
    }
    
    #quadrados4{
        margin-top: 35%;
        margin-left: 45%
    }
    
    #quadrados5{
        margin-top: 48%;
        left:75%;
    }
    
    #quadrados6{
        margin-top: 52%;
        left:80%;
    }
    
    .rectang {
        position: absolute;
        display: none;
        z-index:20;
        width: 40%;
        padding: 10px;
        left: 20px;
        margin-top:40%;
        text-align: justify;
        
    }
    
    .cenasperg {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 1.6vw;
        background-color: #0e5850;
        padding:2%;
        color: #fff;
    }
    
    .cenasresp {
        font-family: TradeGothicW01-BoldCn20;
        font-size: 1vw;
        margin-top: 2%;
        background-color: #fff;
        color: #222;
        padding: 2%;
    }
    
    .aentrevista {
        background-image: url(imagens/interview.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 850px;
    }
    
    .painel {
        margin-top: 15%;
        position: absolute;
        padding-left: 56%;
        line-height: 20px;
        text-align: justify;
    }

    .painel h3 {
        background-color: #222;
        padding: 7px 15px;
        margin: 0;
        font-weight: bold;
        cursor: pointer;
        font-family: TradeGothicW01-BoldCn20;
        font-size: 1.2vw;
        color: white;
        
    }

    .painel h3:hover {
        background-color: rgb(255,132,124);
        color: #222;
    }

    .painel h3.active {
        background-color: rgb(255,132,124);
        color: #222;
    }

    .painel p {
        background-color: rgb(232,74,95);
        margin: 0;
        padding: 10px 15px 20px;
        font-family: TradeGothicW01-BoldCn20;
        font-size: 0.9vw;
    }
    
    .textodolado {
        padding-top: 55%;
        padding-left: 15%;
        font-family: TradeGothicW01-BoldCn20;
        font-size: 8vw;
        background: 
            -webkit-linear-gradient(239.73deg,rgb(232,74,95) 0,rgb(255,132,124) 136%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
    
    .exemploumtest {
        padding-top: 25%;
        padding-left: 15%;
        padding-right: 15%;
        font-family: Karla;
        font-size: 3vw;
        text-align: justify;
    }
    
    .professornome {
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 10%;
        font-family: Karla;
        font-size: 1vw;
        text-align: justify;
    }
    
    .acoes {
        font-family: Karla;
    }
    
    .acoes h1 {
        font-size: 4vw;
        padding-left: 5%;
        font-family: TradeGothicW01-BoldCn20;
    }
    
    .acoes p {
        font-size: 2vw;
        padding-left: 5%;
        padding-bottom: 5%;
        font-family: TradeGothicW01-BoldCn20;
    }
    
    .month {
        padding: 70px 25px;
        background: #1abc9c;
    }

    .month ul {
        margin: 0;
        padding: 0;
    }

    .month ul li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .month .prev {
        float: left;
        padding-top: 10px;
    }

    .month .next {
        float: right;
        padding-top: 10px;
    }

    .weekdays {
        margin: 0;
        padding: 10px 0;
        background-color: #ddd;
    }

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

    .days {
        padding: 10px 0;
        background: #eee;
        margin: 0;
    }

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size:12px;
        color: #777;
    }

    .days li .active {
        padding: 5px;
        background: #1abc9c;
        color: white !important
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
}